@media screen and (max-width: 1360px){
    .right_block{
        width: 60%;
    }
}
@media screen and (max-width: 1360px){
    .right_block{
        width: 60%;
    }
}
@media screen and (max-width: 1029px){
    .right_block{
        width: 65%;
    }
}
@media screen and (max-width: 912px){
    .right_block{
        width: 70%;
    }
}
@media screen and (max-width: 845px){
    .nav{
        display: none;
    }
    .right_block{
        width: 20%;
    }
    .icon{
        width: 100%;
    }
    

    
}